<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.imexue.ec.common.mapper.ec.CardMapper" >
  
  <sql id="baseColumn">
  c.id,c.card_no,c.school_id,c.user_type,c.user_id,c.holder_role_code,c.holder_role_name,c.is_active
  ,version_no
  </sql>
  
  <update id="updateChildCardToNull">
  	update t_card
	set user_id=0,
	user_type='',
	holder_role_code='',
	holder_role_name='',
	version_no = version_no+1
	where user_type='C'
	<if test="userId != null">
	and user_id = #{userId}
	</if>
	<if test="versionNo != null">
	and version_no = #{versionNo}
	</if>
 	<if test="id != null"> 
 	and id = #{id} 
    </if>
  </update>
  
  <update id="updateUserToNull">
  	update t_card
	set user_id=0,
	user_type='',
	holder_role_code='',
	holder_role_name='',
	version_no = version_no+1
	where  card_no = #{cardNo}
  </update>
  
  <select id="getCardByChild" resultType="CardVo">
  SELECT <include refid="baseColumn"/> 
  FROM t_card c
  WHERE user_type = 'C'
  and user_id = #{userId}
  and is_active = 1
  </select>
  
  <update id="updateChildCard">
  update t_card
  set user_id= #{userId}
  ,user_type=#{userType}
  ,bind_time = #{bindTime}
  <if test="holderRoleCode != null">
  ,holder_role_code = #{holderRoleCode}
  </if>
  <if test="holderRoleName != null">
  ,holder_role_name = #{holderRoleName}
  </if>
  ,update_time = #{updateTime}
  ,updater_role = #{updaterRole}
  ,updater_id = #{updaterId}
  ,version_no = version_no+1
  where id = #{id}
  </update>
  
  <select id="getByCardNo" resultType="cn.imexue.ec.common.model.vo.CardVo" >
  SELECT <include refid="baseColumn"/> 
  FROM t_card c
  WHERE  c.card_no = #{cardNo}
  </select>
  
  <insert id="insertCard" keyProperty="id">
  insert t_card 
  (card_no,school_id,customer_id,user_type,user_id,is_active,holder_role_code,
  holder_role_name,bind_time,create_time,creator_role,creator_id)
  values
  (#{cardNo},#{schoolId},0,#{userType},#{userId},1,#{holderRoleCode},#{holderRoleName},
  #{bindTime},#{createTime},#{creatorRole},#{creatorId})
  </insert>
  
  <select id="pageList" resultType="CardVo">
			SELECT
				a.id,
				a.card_no as cardNo,
				a.user_id AS userId,
				a.school_id AS schoolId,
				a.order_no AS orderNo,
				a.bind_time AS bind_time,
				a.is_active AS isActive,
				a.user_type as userType,
				a.holder_role_code as holderRoleCode,
				a.holder_role_name as holderRoleName,
				a.version_no
			FROM t_card a
			LEFT JOIN t_school s ON a.school_id = s.id
			lEFT JOIN t_customer c ON c.id = a.customer_id
			LEFT JOIN t_province pr on s.province_id = pr.id
			LEFT JOIN t_city ci on s.city_id = ci.id
			LEFT JOIN t_district di on s.district_id = di.id
			WHERE 1=1 and
			a.school_id = #{schoolId}
		<if test="provinceId != null">
			AND pr.id = #{provinceId}
		</if>
		<if test="cityId != null">
			AND ci.id = #{cityId}
		</if>
		<if test="districtId != null">
			AND di.id = #{districtId}
		</if>
		<if test="customerId != null">
			AND a.customer_id = #{customerId}
		</if>
		<if test="customerName != null">
			AND c.customer_name like concat('%',#{customerName},'%') 
		</if>
		<if test="schoolName != null">
			AND s.name like concat('%',#{schoolName},'%')
		</if>
		<if test="cardNo != null">
			AND a.card_no =#{cardNo}
		</if>
		AND a.is_active = 1
		<if test="orderBy != null">
		ORDER BY ${orderBy} ${orderType}
		</if>
	</select>
  
  <update id="update">
    update t_card
    <set >
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        school_id = #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=BIGINT},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null" >
        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="holderRoleCode != null" >
        holder_role_code = #{holderRoleCode,jdbcType=VARCHAR},
      </if>
      <if test="holderRoleName != null" >
        holder_role_name = #{holderRoleName,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null" >
        bind_time = #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorRole != null" >
        creator_role = #{creatorRole,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterRole != null" >
        updater_role = #{updaterRole,jdbcType=VARCHAR},
      </if>
      <if test="updaterId != null" >
        updater_id = #{updaterId,jdbcType=BIGINT},
      </if>
       version_no = version_no+1
    </set>
    where id = #{id,jdbcType=BIGINT} AND version_no = #{versionNo}
  </update>
  
   <insert id="insert"  >
    insert into t_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="schoolId != null" >
        school_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="confirmTime != null" >
        confirm_time,
      </if>
      <if test="holderRoleCode != null" >
        holder_role_code,
      </if>
      <if test="holderRoleName != null" >
        holder_role_name,
      </if>
      <if test="bindTime != null" >
        bind_time,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creatorRole != null" >
        creator_role,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updaterRole != null" >
        updater_role,
      </if>
      <if test="updaterId != null" >
        updater_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="schoolId != null" >
        #{schoolId,jdbcType=BIGINT},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=BIGINT},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="holderRoleCode != null" >
        #{holderRoleCode,jdbcType=VARCHAR},
      </if>
      <if test="holderRoleName != null" >
        #{holderRoleName,jdbcType=VARCHAR},
      </if>
      <if test="bindTime != null" >
        #{bindTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorRole != null" >
        #{creatorRole,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterRole != null" >
        #{updaterRole,jdbcType=VARCHAR},
      </if>
      <if test="updaterId != null" >
        #{updaterId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  
  <select id="getById" resultType="CardVo">
    select 
    <include refid="baseColumn" />
    from t_card c
    where c.id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from t_card
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
</mapper>