<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.imexue.ec.common.mapper.ec.DeviceCameraMapper" >
	<select id="pageList" resultType="cn.imexue.ec.common.model.DeviceCamera">
				SELECT
					a.id,
					a.`name`,
					a.model,
					a.class_id as classId,
					a.image_url AS imageUrl,
					a.validate_code as validateCode,
					a.install_location as installLocation,
					IF(a.is_default_device_no=1,'',a.device_no) AS deviceNo,
					a.school_id AS schoolId,
					s.`name` AS schoolName,
					a.order_no AS orderNo,
					a.confirm_time AS confirmTime,
					p.`name` AS productName,
					a.is_active AS isActive,
					a.version_no
				FROM t_device_camera a
				LEFT JOIN t_school s ON a.school_id = s.id
				LEFT JOIN t_customer_product p ON a.product_id = p.id
				LEFT JOIN t_province pr on s.province_id = pr.id
				LEFT JOIN t_city ci on s.city_id = ci.id
				LEFT JOIN t_district di on s.district_id = di.id
				WHERE 1=1 and
				a.school_id = #{schoolId}
			<if test="provinceId != null">
				AND pr.id = #{provinceId}
			</if>
			<if test="cityId != null">
				AND ci.id = #{cityId}
			</if>
			<if test="districtId != null">
				AND di.id = #{districtId}
			</if>
			<if test="customerId != null">
				AND a.customer_id = #{customerId}
			</if>
			<if test="schoolName != null">
				AND s.name like concat('%',#{schoolName},'%')
			</if>
			<if test="isActive != null">
				AND a.is_active = #{isActive}
			</if>
			<if test="classIds!= null">
		          ${classIds}
			</if>
			<if test="deviceNo != null">
				AND a.device_no = #{deviceNo}
				AND a.is_default_device_no=0
			</if>
			<if test="judge != null">
				ORDER BY ${orderBy} ${orderType}
			</if>
			<if test="judge == null">
				ORDER BY a.${orderBy} ${orderType}
			</if>
			
		</select>
		
	
	  <select id="selectByNvrId"  resultType="cn.imexue.ec.common.model.DeviceCamera" parameterType="java.lang.Long">
			select
				<include refid="Base_Column_List" />
			from t_device_camera t
			where t.nvr_id=#{nvrId}
	  </select>
	   
	  <select id="selectBydeviceNo"  resultType="cn.imexue.ec.common.model.DeviceCamera">
			select
				<include refid="Base_Column_List" />
			from t_device_camera t
			where t.device_no=#{deviceNo}
	  </select>
	  
	  <select id="selectByClassId" resultType="cn.imexue.ec.common.model.DeviceCamera">
	  	select
			<include refid="Base_Column_List" />
		from t_device_camera 
	  	where class_id = #{classId,jdbcType=BIGINT} and school_id=#{schoolId,jdbcType=BIGINT}
	  </select>
	  
	  
	  
	  
	  <sql id="Base_Column_List" >
	    id, customer_id, product_id, nvr_id, school_id, school_name, class_id, class_name, 
	    install_location, device_no, is_default_device_no, validate_code, channel_no, name, 
	    model, image_url, order_no, confirm_time, open_hours, is_active, install_time, create_time, 
	    creator_role, creator_id, update_time, updater_role, updater_id,version_no
	  </sql>
	
	  <select id="getById" resultType="cn.imexue.ec.common.model.DeviceCamera">
	    select 
	    <include refid="Base_Column_List" />
	    from t_device_camera
	    where id = #{id,jdbcType=BIGINT}
	  </select>
	  <insert id="insert">
	    insert into t_device_camera
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="customerId != null" >
	        customer_id,
	      </if>
	      <if test="productId != null" >
	        product_id,
	      </if>
	      <if test="nvrId != null" >
	        nvr_id,
	      </if>
	      <if test="schoolId != null" >
	        school_id,
	      </if>
	      <if test="schoolName != null" >
	        school_name,
	      </if>
	      <if test="classId != null" >
	        class_id,
	      </if>
	      <if test="className != null" >
	        class_name,
	      </if>
	      <if test="installLocation != null" >
	        install_location,
	      </if>
	      <if test="deviceNo != null" >
	        device_no,
	      </if>
	      <if test="isDefaultDeviceNo != null" >
	        is_default_device_no,
	      </if>
	      <if test="validateCode != null" >
	        validate_code,
	      </if>
	      <if test="channelNo != null" >
	        channel_no,
	      </if>
	      <if test="name != null" >
	        name,
	      </if>
	      <if test="model != null" >
	        model,
	      </if>
	      <if test="imageUrl != null" >
	        image_url,
	      </if>
	      <if test="orderNo != null" >
	        order_no,
	      </if>
	      <if test="confirmTime != null" >
	        confirm_time,
	      </if>
	      <if test="openHours != null" >
	        open_hours,
	      </if>
	      <if test="isActive != null" >
	        is_active,
	      </if>
	      <if test="installTime != null" >
	        install_time,
	      </if>
	      <if test="createTime != null" >
	        create_time,
	      </if>
	      <if test="creatorRole != null" >
	        creator_role,
	      </if>
	      <if test="creatorId != null" >
	        creator_id,
	      </if>
	      <if test="updateTime != null" >
	        update_time,
	      </if>
	      <if test="updaterRole != null" >
	        updater_role,
	      </if>
	      <if test="updaterId != null" >
	        updater_id,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id,jdbcType=BIGINT},
	      </if>
	      <if test="customerId != null" >
	        #{customerId,jdbcType=BIGINT},
	      </if>
	      <if test="productId != null" >
	        #{productId,jdbcType=BIGINT},
	      </if>
	      <if test="nvrId != null" >
	        #{nvrId,jdbcType=BIGINT},
	      </if>
	      <if test="schoolId != null" >
	        #{schoolId,jdbcType=BIGINT},
	      </if>
	      <if test="schoolName != null" >
	        #{schoolName,jdbcType=VARCHAR},
	      </if>
	      <if test="classId != null" >
	        #{classId,jdbcType=BIGINT},
	      </if>
	      <if test="className != null" >
	        #{className,jdbcType=VARCHAR},
	      </if>
	      <if test="installLocation != null" >
	        #{installLocation,jdbcType=VARCHAR},
	      </if>
	      <if test="deviceNo != null" >
	        #{deviceNo,jdbcType=VARCHAR},
	      </if>
	      <if test="isDefaultDeviceNo != null" >
	        #{isDefaultDeviceNo,jdbcType=TINYINT},
	      </if>
	      <if test="validateCode != null" >
	        #{validateCode,jdbcType=VARCHAR},
	      </if>
	      <if test="channelNo != null" >
	        #{channelNo,jdbcType=INTEGER},
	      </if>
	      <if test="name != null" >
	        #{name,jdbcType=VARCHAR},
	      </if>
	      <if test="model != null" >
	        #{model,jdbcType=VARCHAR},
	      </if>
	      <if test="imageUrl != null" >
	        #{imageUrl,jdbcType=VARCHAR},
	      </if>
	      <if test="orderNo != null" >
	        #{orderNo,jdbcType=VARCHAR},
	      </if>
	      <if test="confirmTime != null" >
	        #{confirmTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="openHours != null" >
	        #{openHours,jdbcType=VARCHAR},
	      </if>
	      <if test="isActive != null" >
	        #{isActive,jdbcType=TINYINT},
	      </if>
	      <if test="installTime != null" >
	        #{installTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="createTime != null" >
	        #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="creatorRole != null" >
	        #{creatorRole,jdbcType=VARCHAR},
	      </if>
	      <if test="creatorId != null" >
	        #{creatorId,jdbcType=BIGINT},
	      </if>
	      <if test="updateTime != null" >
	        #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updaterRole != null" >
	        #{updaterRole,jdbcType=VARCHAR},
	      </if>
	      <if test="updaterId != null" >
	        #{updaterId,jdbcType=BIGINT},
	      </if>
	    </trim>
	  </insert>
	  <update id="update">
	    update t_device_camera
	    <set >
	      <if test="customerId != null" >
	        customer_id = #{customerId,jdbcType=BIGINT},
	      </if>
	      <if test="productId != null" >
	        product_id = #{productId,jdbcType=BIGINT},
	      </if>
	      <if test="nvrId != null" >
	        nvr_id = #{nvrId,jdbcType=BIGINT},
	      </if>
	      <if test="schoolId != null" >
	        school_id = #{schoolId,jdbcType=BIGINT},
	      </if>
	      <if test="schoolName != null" >
	        school_name = #{schoolName,jdbcType=VARCHAR},
	      </if>
	      <if test="classId != null" >
	        class_id = #{classId,jdbcType=BIGINT},
	      </if>
	      <if test="className != null" >
	        class_name = #{className,jdbcType=VARCHAR},
	      </if>
	      <if test="installLocation != null" >
	        install_location = #{installLocation,jdbcType=VARCHAR},
	      </if>
	      <if test="deviceNo != null" >
	        device_no = #{deviceNo,jdbcType=VARCHAR},
	      </if>
	      <if test="isDefaultDeviceNo != null" >
	        is_default_device_no = #{isDefaultDeviceNo,jdbcType=TINYINT},
	      </if>
	      <if test="validateCode != null" >
	        validate_code = #{validateCode,jdbcType=VARCHAR},
	      </if>
	      <if test="channelNo != null" >
	        channel_no = #{channelNo,jdbcType=INTEGER},
	      </if>
	      <if test="name != null" >
	        name = #{name,jdbcType=VARCHAR},
	      </if>
	      <if test="model != null" >
	        model = #{model,jdbcType=VARCHAR},
	      </if>
	      <if test="imageUrl != null" >
	        image_url = #{imageUrl,jdbcType=VARCHAR},
	      </if>
	      <if test="orderNo != null" >
	        order_no = #{orderNo,jdbcType=VARCHAR},
	      </if>
	      <if test="confirmTime != null" >
	        confirm_time = #{confirmTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="openHours != null" >
	        open_hours = #{openHours,jdbcType=VARCHAR},
	      </if>
	      <if test="isActive != null" >
	        is_active = #{isActive,jdbcType=TINYINT},
	      </if>
	      <if test="installTime != null" >
	        install_time = #{installTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="createTime != null" >
	        create_time = #{createTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="creatorRole != null" >
	        creator_role = #{creatorRole,jdbcType=VARCHAR},
	      </if>
	      <if test="creatorId != null" >
	        creator_id = #{creatorId,jdbcType=BIGINT},
	      </if>
	      <if test="updateTime != null" >
	        update_time = #{updateTime,jdbcType=TIMESTAMP},
	      </if>
	      <if test="updaterRole != null" >
	        updater_role = #{updaterRole,jdbcType=VARCHAR},
	      </if>
	      <if test="updaterId != null" >
	        updater_id = #{updaterId,jdbcType=BIGINT},
	      </if>
	        version_no = version_no+1
	    </set>
	    where id = #{id,jdbcType=BIGINT} AND version_no = #{versionNo}
	  </update>
</mapper>