<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.imexue.ec.common.mapper.ec.StaffProvinceMapper" >

	<select id="selectByStaffId" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
			<include refid="Base_Column_List" />
		from t_staff_province
		where staff_id = #{staffId,jdbcType=BIGINT}
	</select>
	<!-- 以下为自动生成代码 -->
  <resultMap id="BaseResultMap" type="cn.imexue.ec.common.model.StaffProvince" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="staff_id" property="staffId" jdbcType="BIGINT" />
    <result column="province_id" property="provinceId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, staff_id, province_id, create_time
  </sql>

</mapper>