<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.imexue.ec.common.mapper.ec.SysCodeMapper" >

  <sql id="Base_Column_List" >
    id, type, code, value, memo
  </sql>

	<select id="selectByType" resultType="cn.imexue.ec.common.model.SysCode">
		select
			<include refid="Base_Column_List" />
		from t_sys_code t
		where t.type=#{type,jdbcType=VARCHAR}
	</select>
	
	<select id="selectByTypeAndName" resultType="cn.imexue.ec.common.model.SysCode">
		select
			<include refid="Base_Column_List" />
		from t_sys_code t
		where t.type=#{type,jdbcType=VARCHAR}
			and t.code = #{code,jdbcType=VARCHAR}
	</select>

</mapper>