<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.imexue.ec.common.mapper.ec.TeacherSchoolMapMapper" >


  <select id="selectBySchoolIdAndTeacherId" parameterType="map" resultType="cn.imexue.ec.common.model.TeacherSchoolMap">
  	select
  	<include refid="Base_Column_List" />
  	from  t_teacher_school_map
  	where school_id=#{schoolId,jdbcType=BIGINT} 
  	and teacher_id=#{teacherId,jdbcType=BIGINT}
  	LIMIT 1
  </select>
	
<select id="selectDirectorIdBySchoolId" resultType="java.lang.Long">
	select teacher_id from  t_teacher_school_map
	where  role='D' and school_id=#{schoolId,jdbcType=BIGINT}
</select>
  <sql id="Base_Column_List" >
    id, school_id, teacher_id, role, create_time, creator_role, creator_id
  </sql>


</mapper>